h3.code-title {
	margin-left: 1em;
	padding: 0.2em 0.2em;
	color: var(--shiki);
	transition: opacity 0.3s ease-in-out;
	opacity: 0.8;
	font-size: 90%;
	letter-spacing: 0.05em;
	width: fit-content;

	border-radius: 0.25rem;
	background-color: var(--color-bluishTwo-400);
	&:where(.dark, .dark *) {
		background-color: var(--color-purpleDark);
	}
	line-height: normal;
}
