h3.code-title {
	position: absolute;
	padding: 0.3rem 0.3rem;
	color: var(--shiki);
	z-index: 10;
	top: -2.2em;
	left: 1em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0.8;
	font-size: 90%;
	letter-spacing: 0.05em;
	width: fit-content;

	border-radius: 0.25rem;
	background-color: var(--color-bluishTwo-400);
	&:where(.dark, .dark *) {
		background-color: var(--color-darkPrimary-240);
	}
	line-height: normal;
}
